<div class="container text-center mt-5">
    <div class="bg-white shadow w-50 m-auto p-3 rounded">
    <img src="/user.png" alt="profile.png" class="profile-pic">

    <h1 class="mt-3">
        <%=@user.nombre%>
    </h1>
    </div>
    <h3 class="mt-5">Avisos Creados</h3>
</div>